build
debug
release
build-*
*.log
*.data
*.user*
*.pdb
*.obj
*.manifest
*.res
*.autosave
*.Release
*.Debug
*~
cache
ui_*.h
Makefile*
*.exe
*.psd
*.so-deployment-settings.json
android-build/
app_process
libc.so
Thumbs.db
.DS_Store
*.kate-swp
*.doxytag
doc/html/

.git.*
.gitignore.*
.gitlab-ci.yml.*
*.doxytag.*

# Temp Python files (git hooks, see milo/mscripts/hooks)
__pycache__/
mconfig.py

# OpenSSL build files (see milo/mcrypto/scripts)
milo/mcrypto/scripts/OpenSSL/
milo/mcrypto/scripts/src/
milo/mcrypto/scripts/setenv-android.sh
